.password-input-container {
  display: flex;
  flex-direction: column;
}

.password-input-label {
  color: #000;
  font-size: 24px;
  margin-bottom: 8px;
}

.password-input {
  box-sizing: border-box;
  width: 280px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
}
