.strength-bar-container {
  margin-top: 12px;

  width: 280px;
  /* height: 12px; */

  overflow: hidden;
  position: relative;
}

.strength-sections {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.strength-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  text-align: center;
}

.strength-bar-item.short {
  background-color: red;
}

.strength-bar-item {
  padding: 4px;
  background-color: gray;
  border-radius: 12px;
}

.strength-bar-item.easy {
  background-color: red;
}

.strength-bar-item.easy:nth-child(n + 2) {
  background-color: gray;
}

.strength-bar-item.medium {
  background-color: yellow;
}

.strength-bar-item.medium:nth-child(n + 3) {
  background-color: gray;
}

.strength-bar-item.strong {
  background-color: green;
}
